body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1,
h2,
h3 {
  margin: 0;
}

button {
  background-color: hsl(0, 100%, 40%);
  border: none;
  border-radius: 5px;
  color: whitesmoke;
  font-weight: bold;
  cursor: pointer;
}

#root {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  overflow: auto;
}

main {
  padding: 1rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.material-icons {
  vertical-align: middle;
}
